*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

.main1{
    width: 100%;
    height: 380px;
    background-color: rgb(20, 173, 123);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.main1 h1{
    font-size: var(--defXXXLFont);
    font-weight: 400;
}
.main1 h4{
    font-size: var(--defMFont);
    font-weight: var(--defHdSFontWeight);
    width: 50%;
    text-align: center;
}

/* ------------------------------------------------------------------ */

.main2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding: var(--defPadding);
    box-sizing: border-box;
}
.main2-svg{
    width: 30px;
    padding: 15px;
    background-color: rgb(0, 188, 125);
    border-radius: 100%;
}
.main2-box{
    width: 35%;
    background-color: rgb(236, 253, 245);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: var(--defBoRa);
}
.main2-box h3{
    font-size: var(--defXLFont);
    font-weight: var(--defHdSFontWeight);
}

/* ------------------------------------------------------------------ */

.main3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 100px 0px 100px;
    margin: 100px 0px 100px 0px;
    box-sizing: border-box;
}
.am{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.am h1{
    font-size: var(--defXXXLFont);
    font-weight: var(--defHdSFontWeight);
    color: rgb(0, 153, 102);
}
.ea{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ea h1{
    font-size: var(--defXXXLFont);
    font-weight: var(--defHdSFontWeight);
    color: rgb(0, 153, 102);
}
.oi{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oi h1{
    font-size: var(--defXXXLFont);
    font-weight: var(--defHdSFontWeight);
    color: rgb(0, 153, 102);
}
.sr{
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sr h1{
    font-size: var(--defXXXLFont);
    font-weight: var(--defHdSFontWeight);
    color: rgb(0, 153, 102);
}

/* ------------------------------------------------------------------ */
.main4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(236, 253, 245);
    padding: 100px 0px 70px 0px;
    gap: 80px;
}
.main4-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main4-title h1{
    font-size: var(--defXXXLFont);
    font-weight: 400;
    text-align: center;
}
.main4-title h4{
    font-size: var(--defSFont);
    font-weight: 400;
    text-align: center;
}
.main4-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    box-sizing: border-box;
}
.main4-box{
    width: 200px;
    height: 250px;
    border-radius: var(--defBoRa);
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 20px 1px rgba(214, 214, 214, 0.492);
}
.main4-box:hover{
    transform: translateY(-10px);
    box-shadow: 1px 1px 20px 1px rgba(111, 111, 111, 0.492);
    transition: transform cubic-bezier(.4, 0, .2, 1) 0.3s;
}
.main4-box img{
    width: 30px;
    padding: 15px;
    background-color: rgb(208, 250, 229);
    border-radius: 100%;
}
.main4-box-texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main4-box-texts h3{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
}

/* ------------------------------------------------------------------ */

.main5{
    margin-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main5-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.main5-title h1{
   font-size: var(--defXXLFont);
    font-weight: var(--defHdSFontWeight);
}
.main5-title h4{
   font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    width: 48%;
    align-self: center;
}
.main5-boxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main5-box{
    border-radius: var(--defBoRa);
    width: 90%;
    height: 420px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 1px rgba(214, 214, 214, 0.492);
}
.main5-box:hover{
    transform: translateX(-10px);
    box-shadow: 1px 1px 20px 1px rgba(111, 111, 111, 0.492);
    transition: transform cubic-bezier(.4, 0, .2, 1) 0.3s;
}
.main5-box img{
    object-fit: cover;
}
.main5-content{
    padding: 50px 30px 30px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main5-headings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main5-headings h3{
    font-size: var(--defXLFont);
    font-weight: var(--defHdSFontWeight);
}
.main5-headings h5{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    color: rgb(0, 153, 102);
}
.main5-headings h6{
    font-size: 16px;
    font-weight: var(--defHdSFontWeight);
    padding: 5px 10px 5px 10px;
    background-color: rgb(236, 253, 245);
    width: fit-content;
    border-radius: 15px;
}
.main5-content p{
    font-size: 18px;
}
.main5-line{
    width: 95%;
    height: 1px;
    background-color: gray;
    z-index: 10;
}
.main5-svg{
    display: flex;
    gap: 20px;
}
.main5-mail a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(208, 250, 229);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.main5-mail:hover{
    background-color: rgb(65, 65, 65);
}
.main5-linkedin a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(208, 250, 229);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.main5-linkedin:hover{
    background-color: rgb(65, 65, 65);   
}
.main5-box2{
    display: flex;
    flex-direction: row-reverse;
}
.main5-box4{
    display: flex;
    flex-direction: row-reverse;
}

/* ------------------------------------------------------------------ */

.main6{
    background-color: rgb(237, 253, 245);
    width: 100%;
    padding: 30px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
}
.main6 h1{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdSFontWeight);
}
.main6-story{
    background-color: white;
    width: 60%;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 5px 20px 2px rgba(155, 155, 155, 0.492);
}

/* ------------------------------------------------------------------ */

.main7{
    width: 100%;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.main7-messag{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: rgb(0, 185, 123);
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(155, 155, 155, 0.492);
}
.main7-messag h1{
    font-size: 2.3rem;
    font-weight: var(--defHdSFontWeight);
    text-align: center;
}
.main7-messag h3{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    text-align: center;
}
.main7-messag button{
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 35px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 161, 143);
    font-size: 17px;
}
.main7-messag button:hover{
    background-color: rgb(230, 230, 230); 
}
