*{
    margin: 0;
    padding: 0;
}

footer{
    display: grid;
    grid-template-areas: "about quickLinks supportLinks     connectLinks"
                         "links links links links"
                         "crisisSupport crisisSupport crisisSupport crisisSupport"
                         "copyRight copyRight copyRight copyRight";
    padding: 30px;
    font-family: var(--defFontFamily);
    background-color: rgb(16, 24, 40);
   column-gap: 100px; 
   row-gap: 50px;
}
footer h1{
    font-size: var(--defLFont);
    font-weight: var(--defHdFontWeight);
    color: white;
}
footer h3{
    font-size: var(--defSFont);
    font-weight: var(--defHdFontWeight);
    color: white;
}
footer h4{
    font-size: 18px;
    font-weight: var(--defHdFontWeight);
    color: white;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: rgb(169, 169, 169);
    font-size: 16px;
}
footer a:hover{
    color: rgb(11, 131, 88);
}
footer p{
    font-size:16px;
    color: rgb(169, 169, 169);
}
footer font{
    color: green;
}
footer .about{
    grid-area: about;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 500px;
}
footer .about .title{
    display: flex;
    align-items: center;
    gap: 20px;
}
footer .about .logo{
    width: 200px;
    height: 115px;
    border-radius: 10px;
}
footer .fir{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .quickLinks{
    grid-area: quickLinks;
}
footer .supportLinks{
    grid-area: supportLinks;
}
footer .connectLinks{
    grid-area: connectLinks;
}
footer .links{
    grid-area: links;
    display: flex;
    gap: 30px;
}
footer .links img{
    padding: 10px;
    background-color: rgb(30, 41, 57);
    border-radius: 10px;
    cursor: pointer;
}
footer .links img:hover{
    background-color: rgb(0, 153, 102);
}
footer .crisisSupport{
    grid-area: crisisSupport;
    width: 100%;
    border: 2px solid red;
    background-color: rgba(107, 0, 0, 0.334);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: var(--defBoRa);
    box-sizing: border-box;
}
footer .copyRight{
    grid-area: copyRight;
    display: flex;
    justify-content: space-between;
}
