*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

.main1{
    width: 100%;
    height: 380px;
    background-color: rgb(20, 173, 123);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.main1 h1{
    font-size: var(--defXXXLFont);
    font-weight: 400;
}
.main1 h4{
    font-size: var(--defMFont);
    font-weight: var(--defHdSFontWeight);
    width: 50%;
    text-align: center;
}

/* --------------------------------------------------------------------------------------------- */

.main2{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    box-sizing: border-box;
    gap: 100px;
}
.main2-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2-paragraph p{
    width: 60%;
    text-align: center;
    font-size: var(--defSFont);
}
.main2-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.main2-box{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.321);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.main2-box:hover{
    transform: translateY(-15px);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.588);
    transition: all cubic-bezier(.4, 0, .2, 1) 0.3s;
}
.main2-image{
    width: 100%;
    height: 50%;
    position: relative;
}
.main2-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.main2-image img:hover{
    transform: scale(1.1);
    transition: all ease 0.3s;
}
.main2-svg img{
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: rgb(173, 70, 255);
    border-radius: 100%;
    position: absolute;
    top: 15px;
    right: 15px;
}
.main2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 0px 20px 20px 20px;
    gap: 10px;
}
.main2-content h3{
    font-size: var(--defMFont);
    font-weight: 400;
}
.main2-content p{
    font-size: 16px;
}
.main2-content a{
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------------- */

.main3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px;
    background-color: rgb(236, 253, 245);
}
.main3-headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main3-headings h1{
    font-size: 2.3rem;
    font-weight: 400;
}
.main3-headings h4{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
}

.main3-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main3-box{
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.321);
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}
.main3-box h3{
    font-size: var(--defMFont);
    font-weight: 400;
}
.main3-box p{
    font-size: 16px;
}
.main3-box a{
    text-decoration: none;
    color: green;
}
