*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main1{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 255, 102, 0.271)),url(../Assests/Images/bg-image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main1 h1{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.main1 h3{
    font-size: var(--defMFont);
    font-weight: var(--defHdFontWeight);
}
.main1 button{
    padding: 20px 40px;
    color: white;
    background-color: rgb(0, 153, 102);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: var(--defSFont);
}
.main1 button:hover{
    background-color: rgb(2, 128, 86);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main2{
    width: 100%;
    background-color: rgb(249, 254, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
    padding-bottom: 80px;
}
.container2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container2-1 h3{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.container2-1 p{
    font-size: var(--defSFont);
    margin: 0px 300px; 
    text-align: center;
}
.boxes2{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.boxes2 h3{
    font-size: var(--defMFont);
    font-weight: var(--defHdFontWeight);
}
.boxes2 p{
    font-size: 17px;
}
.boxes2 img{
    width: 40px;
}
.box2{
    width: 30%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--defBoRa);
    box-shadow: 1px 1px 20px 1px rgb(214, 214, 214);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box2:hover{
    box-shadow: 1px 1px 20px 1px rgb(183, 181, 181);
}
.mission{
    background-color: rgb(0, 153, 102);
    padding: 60px 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 18px;
    margin: 0px 35px;
    border-radius: var(--defBoRa);
}
.mission h3{
    font-size: var(--defLFont);
    font-weight: var(--defHdFontWeight);
}
.mission p{
    font-size: var(--defSFont);
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main3{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main3 h3{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.main3 p{
    font-size: var(--defSFont);
    text-align: center;
}
.boxes3{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.box3{
    width: 700px;
    height: 450px;
    position: relative;
    border-radius: var(--defBoRa);
    box-shadow: 1px 1px 20px 1px rgb(214, 214, 214);
}
.box3:hover{
    box-shadow: 1px 1px 20px 1px rgb(183, 181, 181);
}
.box3 .image{
    width: 100%;
    height: 300px;
    border-radius: var(--defBoRa);
}
.box3 .image .svg{
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.box3-1 .image1{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.001)),url("../Assests/Images/main3-box3-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box3-2 .image2{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.001)),url("../Assests/Images/main3-box3-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box3-3 .image3{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.001)),url("../Assests/Images/main3-box3-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box3-4 .image4{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.001)),url("../Assests/Images/main3-box3-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box3 .image .svg img{
    width: 100%;
    height: 100%;
}
.box3 .ms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.box3 .ms h3{
    font-size: var(--defMFont);
    font-weight: var(--defHdFontWeight);
}
.box3 .ms p{
    font-size: 16px;
    text-align: start;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main4{
    padding: 30px;
    width: 100%;
    background-color: rgb(249, 254, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
.main4 .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main4 .title h3{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.main4 .title p{
    font-size: var(--defSFont);
}
.boxes4{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.box4{
    width: 700px;
    height: 280px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: var(--defBoRa);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 1px 20px 1px rgb(214, 214, 214);
}
.box4:hover{
    box-shadow: 1px 1px 20px 1px rgb(183, 181, 181);
}
.box4 .topic{
    display: flex;
    justify-content: space-between;
}
.box4 .topic h3{
    font-size: var(--defSFont);
    font-weight: var(--defHdFontWeight);
}
.box4 .topic h4{
    font-size: 16px;
    font-weight: var(--defHdFontWeight);
    color: rgb(20, 71, 230);
    padding: 5px 10px;
    background-color: rgb(219, 234, 254);
    border-radius: 20px;
}
.box4 .fir{
    display: flex;
    gap: 10px;
}
.box4 .sec{
    display: flex;
    gap: 10px;
}
.box4 .thi{
    display: flex;
    gap: 10px;
}
.box4 button{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(0, 153, 102);
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}
.box4 button:hover{
    background-color: rgb(1, 128, 85);
}
.main4 a{
    text-decoration: none;
    color: rgb(0, 122, 85);
    font-size: var(--defSFont);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main5{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 100px;
}
.main5 .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main5 .title h3{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.main5 .title p{
    font-size: var(--defSFont);
}
.boxes5{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.box5{
    width: 330px;
    height: fit-content;
    border-radius: var(--defBoRa);
    background-color: rgb(238, 253, 247);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box5:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 20px 1px rgb(214, 214, 214);
}
.box5 .svg{
    background-color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5 .svg img{
    width: 25px;
}
.box5 .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box5 h3{
    font-size: var(--defSFont);
    font-weight: var(--defHdFontWeight);
}
.box5 p{
    font-size: 16px;
}
.container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(0, 188, 138);
    color: white;
    padding: 40px;
    border-radius: var(--defBoRa);
}
.container5 h3{
    font-size: var(--defLFont);
    font-weight: var(--defHdFontWeight);
}
.boxes5-2nd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.box5-2nd{
    width: 400px;
    height: 70px;
    background-color: rgb(26, 195, 144);
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.box5-2nd .num{
    background-color: rgb(72, 207, 164);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.main6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 253, 246);
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 70px;
    gap: 50px;
}
.main6 .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main6 .title h3{
    font-size: var(--defXXLFont);
    font-weight: var(--defHdFontWeight);
}
.main6 .title p{
    font-size: var(--defSFont);
}
.container6{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.container6 .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container6 .content h2{
    font-size: var(--defMFont);
    font-weight: var(--defHdFontWeight);
}
.container6 .content .box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.container6 .content .box h3{
    font-weight: var(--defHdFontWeight);
}
.container6 .content .box .svg img{
    padding: 10px;
    background-color: rgb(208, 250, 229);
    border-radius: 10px;
}
.container6 .btn{
    margin-right: 40px;
}
.container6 .btn button{
    padding: 20px 40px;
    font-size: var(--defSFont);
    background-color: rgb(0, 153, 102);
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.container6 .btn button:hover{
    background-color: rgb(2, 128, 86);
}
.container6-2{
    background-color: rgb(0, 153, 102);
    padding: 20px;
    border-radius: var(--defBoRa);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white; 
}
.container6-2 h3{
    font-size: var(--defMFont);
    font-weight: var(--defHdFontWeight);
}
.container6-2 .tl{
    display: flex;
    flex-direction: column;
    gap: 10px;
}