*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

.main1{
    width: 100%;
    height: 350px;
    background-color: rgb(156, 50, 245);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    color: white;
    gap: 30px;
    padding: 40px 100px;
    box-sizing: border-box;
}
.main1 a{
    text-decoration: none;
    color: white;
}
.main1-head{
    display: flex;
    gap: 20px;
}
.main1-head img{
    width: 40px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(180, 97, 252);
    border-radius: 15px;
}
.main1-head h1{
    font-size: var(--defXXLFont);
    font-weight: 400;
}
.main1 h4{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    width: 50%;
}

/* ------------------------------------------------------------------------------- */

.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main2-topic1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic1 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic1-paregraph{
    background-color: rgb(250, 245, 255);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* **************************************************************************** */

.main2-topic2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic2 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.main2-topic2 p{
    font-style: italic;
}
.topic2-boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.topic2-box{
    width: 400px;
    height: 60px;
    border: 2px solid rgb(243, 232, 255);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
}
.topic2-box img{
    width: 20px;
}
.topic2-box h6{
    font-size: 16px;
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic3{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic3 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic3-boxes{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(167, 59, 255);
    border-radius: 15px;
}
.topic3-box{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.topic3-box h4{
    font-size: var(--defXXLFont);
    font-weight: 450;
}

/* **************************************************************************** */

.main2-topic4{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic4 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic4-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.topic4-box{
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(250, 245, 255);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.topic4-box-heading{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.topic4-box-heading h4{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic5{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic5 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}

.topic5-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topic5-box{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(229, 231, 235);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.topic5-box-iframe{
    height: 25vh;
    background-color: rgb(229, 231, 235);
}
.topic5-box-content{
    width: 100%;
    padding: 10px;
    background-color: rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic5-box-content h3{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic6{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: rgb(250, 245, 255);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
}
.main2-topic6 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic6-boxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topic6-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.topic6-box-head{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.topic6-box-head-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic6-box-head-content h4{
    font-size: var(--defSFont);
    font-weight: 400;
}
.topic6-box-head-content h5{
    font-size: 16px;
    font-weight: 400;
}
.topic6-box-head-content h6{
    font-size: 16px;
    font-weight: 400;
    color: rgb(162, 0, 219);
}
