*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

.main1{
    width: 100%;
    height: 350px;
    background-color: rgb(31, 105, 248);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    color: white;
    gap: 30px;
    padding: 40px 100px;
    box-sizing: border-box;
}
.main1 a{
    text-decoration: none;
    color: white;
}
.main1-head{
    display: flex;
    gap: 20px;
}
.main1-head img{
    width: 40px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(79, 142, 253);
    border-radius: 15px;
}
.main1-head h1{
    font-size: var(--defXXLFont);
    font-weight: 400;
}
.main1 h4{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    width: 50%;
}

/* ------------------------------------------------------------------------------- */

.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main2-topic1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic1 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic1-content{
    background-color: rgb(239, 246, 255);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topic1-content-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.topic1-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* **************************************************************************** */

.main2-topic2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic2 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.main2-topic2 p{
    font-style: italic;
}
.topic2-boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.topic2-box{
    width: 290px;
    height: 60px;
    background-color:  rgb(239, 246, 255);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
}
.topic2-box img{
    width: 20px;
}
.topic2-box h6{
    font-size: 16px;
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic3{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic3 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic3-boxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topic3-box{
    width: 100%;
    height: 120px;
    border: 2px solid rgb(220, 235, 254);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.topic3-box:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.24);
}
.topic3-box-head{
    display: flex;
    justify-content: space-between;
}
.topic3-box-head h2{
    font-size: var(--defMFont);
    font-weight: 400;
}
.topic3-box-tiny{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}
.topic3-box-tiny1{
    display: flex;
    gap: 10px;
}
.topic3-box-tiny1 img{
    width: 15px;
}
.topic3-box-tiny2{
    display: flex;
    gap: 10px;
}
.topic3-box-tiny2 img{
    width: 15px;
}

/* **************************************************************************** */

.main2-topic4{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic4 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic4-boxes{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: rgb(33, 113, 255);
    border-radius: 15px;
}
.topic4-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    color: white;
    padding: 30px;
}
.topic4-box h4{
    font-size: var(--defXXXLFont);
    font-weight: 450;
}
.topic4-box h5{
    font-size: var(--defMFont);
    font-weight: 450;
}
.topic4-box-line{
    width: 0px;
    height: 60%;
    border: 0.5px solid rgba(255, 255, 255, 0.463);
}

/* **************************************************************************** */

.main2-topic5{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic5 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}

.main2-topic5 table{
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
}
.main2-topic5 thead{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 93, 252);
    color: white;
}
.main2-topic5 tr{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main2-topic5 tbody{
    background-color: rgb(239, 246, 255);
}
.main2-topic5 tbody tr:hover{
    background-color: rgb(219, 234, 254);
}

/* **************************************************************************** */

.main2-topic6{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic6 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}

.topic6-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topic6-box{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(229, 231, 235);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.topic6-box-iframe{
    height: 25vh;
    background-color: rgb(229, 231, 235);
}
.topic6-box-content{
    width: 100%;
    padding: 10px;
    background-color: rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic6-box-content h3{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic7{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: rgb(239, 246, 255);
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}
.main2-topic7 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic7-boxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topic7-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.topic7-box-num{
    padding: 3px 8px 3px 8px;
    border-radius: 100%;
    background-color: rgb(21, 93, 252);
    color: white;
}
