*{
    margin: 0;
    padding: 0;
    font-family: var(--defFontFamily);
    line-height: 1.5;
}

.main1{
    width: 100%;
    height: 350px;
    background-color: rgb(226, 0, 69);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    color: white;
    gap: 30px;
    padding: 40px 100px;
    box-sizing: border-box;
}
.main1 a{
    text-decoration: none;
    color: white;
}
.main1-head{
    display: flex;
    gap: 20px;
}
.main1-head img{
    width: 40px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(241, 61, 112);
    border-radius: 15px;
}
.main1-head h1{
    font-size: var(--defXXLFont);
    font-weight: 400;
}
.main1 h4{
    font-size: var(--defSFont);
    font-weight: var(--defHdSFontWeight);
    width: 50%;
}

/* ------------------------------------------------------------------------------- */

.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main2-topic1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic1 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic1-content{
    background-color: rgb(255, 241, 242);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topic1-content-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.topic1-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* **************************************************************************** */

.main2-topic2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic2 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic2-container{
    border: 2px solid rgb(255, 228, 230);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
}
.topic2-container h6{
    font-size: 16px;
    font-weight: var(--defHdSFontWeight);
}
.topic2-boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic2-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topic2-heading h4{
    font-size: 17px;
    font-weight: 400;
}
.topic2-heading font{
    font-size: 17px;
    font-weight: 400;
    color: rgb(238, 0, 63);
}
.topic2-box1{
    width: 100%;
    height: 15px;
    background-color: rgb(229, 231, 235);
    border-radius: 25px;
    position: relative;
    z-index: 0;
}
.topic2-box2{
    height: 15px;
    background-color: rgb(247, 0, 76);
    border-radius: 25px;
    position: absolute;
    z-index: 1;
}

/* **************************************************************************** */

.main2-topic3{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic3 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic3-container{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(249, 4, 78);
    border-radius: 20px;
    box-sizing: border-box;
}
.topic3-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.topic3-box h4{
    font-size: var(--defMFont);
    font-weight: var(--defHdSFontWeight);
}
.topic3-box li{
    font-size: 16px;
    margin-left: 30px; 
}

/* **************************************************************************** */

.main2-topic4{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic4 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic4-boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
}
.topic4-box{
    width: 445px;
    border: 2px solid rgb(255, 228, 230);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box;
}
.topic4-box:hover{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.24);
    transition: all ease 0.3s;
}
.topic4-box img{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 228, 230);
}
.topic4-box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic4-box-head{
    display: flex;
    justify-content: space-between;
}
.topic4-box-head h2{
    font-size: var(--defSFont);
    font-weight: 400;
}
.topic4-box-head font{
    font-size: 16px;
    color: gray;
}

/* **************************************************************************** */

.main2-topic5{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic5 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic5-container{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 241, 242);
    border-radius: 20px;
    box-sizing: border-box;
}
.topic5-content{
    width: 100%;
    display: flex;

    gap: 15px;
}
.topic5-num{
    font-size: var(--defSFont);
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 100%;
    background-color: red;
}
.topic5-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic5-text h4{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic6{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}
.main2-topic6 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic6-boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}
.topic6-box{
    width: 290px;
    border: 2px solid rgb(255, 228, 230);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}
.topic6-box h4{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic7{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.main2-topic7 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}

.topic7-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.topic7-box{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(229, 231, 235);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.topic7-box-iframe{
    height: 25vh;
    background-color: rgb(229, 231, 235);
}
.topic7-box-content{
    width: 100%;
    padding: 10px;
    background-color: rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic7-box-content h3{
    font-size: var(--defSFont);
    font-weight: 400;
}

/* **************************************************************************** */

.main2-topic8{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    background-color: rgb(255, 241, 242);
    border-radius: 20px;
    padding: 30px;
}
.main2-topic8 h3{
    font-size: var(--defXLFont);
    font-weight: 400;
}
.topic8-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic8-content h4{
    font-size: 16px;
    font-weight: 400;
}
.topic8-listing{
    margin-left: 30px;
}
.topic8-boxes{
    /* margin: 20px; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
.topic8-boxes h5{
    font-size: var(--defMFont);
    font-weight: 400;
}
